//Components
@import './config/mixins';
@import './config/variables';

@import './components/wrap';
@import './components/head';
@import './components/descriotion';
@import './components/facts';
@import './components/service';
@import './components/projects';
@import './components/team';
@import './components/contact';
@import './components/sidebar';
@import './components/footer';


* {
  box-sizing: border-box;
  
}

body { 
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0%;
}


