.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2% 8%;
  width: 100%;
}

@media (max-width: 900px) {
  .wrap {
    padding: 2% 5%;
  }
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1rem;
  }
}

.head__logo {
  opacity: 0.95;
}

@media (max-width: 768px) {
  .head__logo {
    width: 70%;
  }
}

.head__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

@media (max-width: 768px) {
  .head__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.head__menu__link {
  text-decoration: none;
  cursor: pointer;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #3D3D3F;
}

.head__menu__link:hover {
  color: #F35F2F;
}

@media (max-width: 768px) {
  .head__menu__link {
    margin-top: 0.5rem;
  }
}

.head__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  opacity: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
}

@media (max-width: 768px) {
  .head__button {
    margin-top: 1.5rem;
  }
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10% 0;
}

@media (max-width: 768px) {
  .description {
    padding-top: 20%;
  }
}

.description__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .description__content {
    width: 100%;
  }
}

.description__content__title {
  margin: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 85px;
  color: #3D3D3F;
}

@media (max-width: 768px) {
  .description__content__title {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.description__content__text {
  margin: 3% 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #3D3D3F;
}

@media (max-width: 768px) {
  .description__content__text {
    margin-top: 2rem;
  }
}

.description__content__button {
  width: 219px;
  height: 53px;
  border: none;
  cursor: pointer;
  background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
  opacity: 0.85;
  border-radius: 5px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .description__content__button {
    margin: 2rem 0;
  }
}

.description__community {
  width: 50%;
}

@media (max-width: 768px) {
  .description__community {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
}

.description__community__image {
  width: 100%;
}

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .facts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 8% 0;
  }
}

.facts__title {
  margin-bottom: 2rem;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #3D3D3F;
}

.facts__datas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid rgba(235, 235, 235, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 17px;
  margin: 5% 0;
  padding: 2%;
}

@media (max-width: 768px) {
  .facts__datas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 6% 0;
  }
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3rem;
}

@media (max-width: 768px) {
  .information {
    padding: 5% 2%;
  }
}

.information__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 99.68px;
  height: 90px;
  border-radius: 15px;
}

.information__value {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #3D3D3F;
}

@media (max-width: 768px) {
  .information__value {
    font-size: 1rem;
  }
}

.information__description {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}

@media (max-width: 768px) {
  .information__description {
    font-size: 1rem;
    line-height: 19px;
  }
}

.active-border {
  border-left: 2px solid rgba(235, 235, 235, 0.8);
  border-right: 2px solid rgba(235, 235, 235, 0.8);
  padding: 0 5rem;
}

@media (max-width: 768px) {
  .active-border {
    padding: 1rem;
    border-left: none;
    border-right: none;
    border-top: 2px solid rgba(235, 235, 235, 0.8);
    border-bottom: 2px solid rgba(235, 235, 235, 0.8);
  }
}

.group {
  background: #79E28A;
}

.customers {
  border-radius: 22px;
  background: #60DAFF;
}

.clients {
  border-radius: 22px;
  background: #F37168;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8% 0;
  width: 100%;
}

@media (max-width: 768px) {
  .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 8% 0;
  }
}

.service__title {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #3D3D3F;
}

.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .service__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: 100%;
  }
}

.service__container__datas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30%;
}

@media (max-width: 768px) {
  .service__container__datas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10% 5%;
    width: 100%;
  }
}

.service__container__datas__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18rem;
  width: 100%;
  top: 5rem;
  right: 0rem;
  -webkit-box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
          box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
  border-radius: 23px;
}

.service__container__datas__card__container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6rem;
  height: 6rem;
  bottom: 15rem;
  cursor: pointer;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
  box-shadow: 0px 4px 22px rgba(95, 95, 95, 0.05);
  border-radius: 3rem;
}

.service__container__datas__card__container:hover {
  background: #F35F2F;
}

.service__container__datas__card__container:hover path, .service__container__datas__card__container:hover rect {
  fill: #FFFFFF;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  height: 100%;
  width: 90%;
}

.card__name {
  width: 277px;
  margin: 0;
  text-align: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.card__description {
  margin: 10px 0;
  text-align: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #595959;
}

.card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  background: #ececec;
}

.card__button:hover {
  background: #F35F2F;
}

.card__button:hover > svg > path {
  fill: #FFFFFF;
}

@media (max-width: 768px) {
  .card-development {
    margin: 0;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6rem;
  width: 100%;
}

.projects__title {
  margin: 3rem 0 3rem;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.projects__examlpes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (min-width: 900px) {
  .projects__examlpes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.projects__examlpes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .projects__examlpes__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.projects__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 242px;
  height: 53px;
  opacity: 0.85;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .projects__btn {
    margin: 1rem 0;
  }
}

.project {
  width: 29%;
  margin-top: 3rem;
  border-radius: 11px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 4px 22px rgba(95, 95, 95, 0.05));
          filter: drop-shadow(0px 4px 22px rgba(95, 95, 95, 0.05));
}

@media (max-width: 768px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5%;
    width: 90%;
  }
}

.project__img {
  width: 100%;
  border-radius: 11px 12px 0 0;
}

@media (max-width: 768px) {
  .project__img {
    width: 100%;
  }
}

.project__description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #3D3D3F;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6rem;
  width: 100%;
}

.team__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #3D3D3F;
}

.team__persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 900px) {
  .team__persons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .team__persons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.person-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #EEEFF1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  margin-right: 1rem;
}

@media (max-width: 900px) {
  .person-card {
    margin: 1rem 0;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .person-card {
    margin: 1rem 0;
    width: 70%;
  }
}

.person-card__amanda {
  height: 14rem;
  width: 100%;
  border-radius: 10px;
  background: url(../img/avatars/amanda_linda.png) no-repeat;
  background-position: 50% 17%;
}

.person-card__alex {
  height: 14rem;
  width: 100%;
  border-radius: 10px;
  background: url(../img/avatars/alex_smith.png) no-repeat;
  background-position: 50% 16%;
}

.person-card__anthony {
  height: 14rem;
  width: 100%;
  border-radius: 10px;
  background: url(../img/avatars/anthoni_fauci.png) no-repeat;
  background-position: 50% 11%;
}

.person-card__khalid {
  height: 14rem;
  width: 100%;
  border-radius: 10px;
  background: url(../img/avatars/khalid_abbed.png) no-repeat;
  background-position: 38% 23%;
}

.person-card__name {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3D3D3F;
}

.person-card__description {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}

.person-card__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.person-card__networks__facebook {
  height: 60px;
  width: 60px;
  background: url(../img/networks/facebook.png) no-repeat 100%;
  background-position: center;
}

.person-card__networks__twitter {
  height: 60px;
  width: 60px;
  background: url(../img/networks/Twitter.png) no-repeat 100%;
  background-position: center;
}

.person-card__networks__linkedin {
  height: 60px;
  width: 60px;
  background: url(../img/networks/linkedin.png) no-repeat 100%;
  background-position: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9rem 0;
}

@media (max-width: 768px) {
  .contact {
    width: 100%;
  }
}

.contact__title {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #3D3D3F;
}

@media (max-width: 768px) {
  .contact__title {
    text-align: left;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (max-width: 768px) {
  .contact__form {
    width: 100%;
  }
}

.contact__letter {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #3D3D3F;
  opacity: 0.9;
  width: 100%;
}

@media (max-width: 768px) {
  .contact__letter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

.contact__letter__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #3D3D3F;
  opacity: 0.9;
}

.contact__letter__text {
  width: 100%;
  height: 7rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  border: none;
}

@media (max-width: 768px) {
  .contact__letter__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.contact__button {
  margin: 4rem 0;
  width: 15rem;
  height: 3rem;
  background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
  opacity: 0.85;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.fields__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 2rem;
  width: 90%;
}

@media (max-width: 768px) {
  .fields__data {
    margin: 1rem 0;
    width: 90%;
  }
}

.fields__data__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #3D3D3F;
  opacity: 0.9;
}

.fields__data__text {
  width: 100%;
  height: 3rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  border: none;
}

@media (max-width: 768px) {
  .fields__data__text {
    width: 90%;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.sidebar__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .sidebar__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sidebar__contact__img {
  margin: 1rem;
  width: 40%;
  height: 20%;
  opacity: 0.95;
}

.sidebar__contact__adress {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
}

.sidebar__contact__number {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
}

.sidebar__contact__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar__contact__networks__facebook {
  height: 60px;
  width: 60px;
  cursor: pointer;
  background: url(../img/networks/black-facebook.png) no-repeat 100%;
  background-position: center;
}

.sidebar__contact__networks__twitter {
  height: 60px;
  cursor: pointer;
  width: 60px;
  background: url(../img/networks/black-twitter.png) no-repeat 100%;
  background-position: center;
}

.sidebar__contact__networks__instagram {
  height: 60px;
  width: 60px;
  cursor: pointer;
  background: url(../img/networks/instagram.png) no-repeat 100%;
  background-position: center;
}

.sidebar__contact__networks__youtube {
  height: 60px;
  width: 60px;
  cursor: pointer;
  background: url(../img/networks/youtube.png) no-repeat 100%;
  background-position: center;
}

.sidebar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar__links {
    margin: 0 1rem 2rem;
  }
}

.sidebar__links__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
}

.sidebar__links__block {
  padding-bottom: 0.5rem;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #646464;
}

.sidebar__links__block:hover {
  color: #F35F2F;
}

@media (max-width: 768px) {
  .sidebar__links__block {
    padding-bottom: 1rem;
  }
}

.sidebar__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__newsletter__title {
  padding-bottom: 0.5rem;
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #3D3D3F;
}

@media (max-width: 768px) {
  .sidebar__newsletter__title {
    padding-bottom: 0.5rem;
  }
}

.sidebar__newsletter__text {
  padding-bottom: 0.5rem;
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
}

@media (max-width: 768px) {
  .sidebar__newsletter__text {
    padding-bottom: 0.5rem;
  }
}

.sidebar__newsletter__email {
  padding: 0.3rem 0.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  background: #FFFFFF;
  border: 1.1px solid #E1E2E4;
  color: rgba(117, 117, 117, 0.65);
}

@media (max-width: 768px) {
  .sidebar__newsletter__email {
    padding: 0.2rem 0;
    margin-bottom: 0.2rem;
  }
}

.sidebar__newsletter__button {
  padding: 0.4rem;
  margin-top: 0.3rem;
  border: none;
  opacity: 0.85;
  cursor: pointer;
  border: 1.1px solid #E1E2E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: #FFFFFF;
  background: linear-gradient(332.36deg, #F35F2F -17.11%, rgba(243, 95, 47, 0.75) 86.38%);
}

@media (max-width: 768px) {
  .sidebar__newsletter__button {
    padding: 0.2rem 0;
    margin-bottom: 0.5rem;
    width: 50%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  padding-top: 0.8rem;
  border-top: 2px solid rgba(150, 150, 150, 0.205);
  width: 100%;
}

@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 2px solid rgba(150, 150, 150, 0.205);
    width: 100%;
  }
}

.footer__copyright {
  margin: 0;
  width: 70%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}

@media (max-width: 768px) {
  .footer__copyright {
    text-align: center;
    margin-top: 0.5rem;
    width: 100%;
  }
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #646464;
  cursor: pointer;
}

.footer__link:hover {
  color: #F35F2F;
}

@media (max-width: 768px) {
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 0.5rem;
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  margin: 0%;
}
/*# sourceMappingURL=main.css.map */