.facts{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 8% 0;
  }

  &__title {
    margin-bottom: 2rem;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #3D3D3F;
  }

  &__datas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgba(235, 235, 235, 0.8);
    box-sizing: border-box;
    border-radius: 17px;
    margin: 5% 0;
    padding: 2%;

    @include mobile{
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 6% 0;
    }
  }

}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 3rem;
 
    @include mobile{
      padding: 5% 2%;
    }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 99.68px;
    height: 90px;
    border-radius: 15px;
  }

  &__value {
    margin: 0;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #3D3D3F;

    @include mobile{
      font-size: 1rem;
    }
  }

  &__description {
    margin: 0;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

     @include mobile{
      font-size: 1rem;
      line-height: 19px;
    }
  }
}

.active-border {
  border-left: 2px solid rgba(235, 235, 235, 0.8);
  border-right: 2px solid rgba(235, 235, 235, 0.8);
  padding: 0 5rem;

    @include mobile {
      padding: 1rem;
      border-left: none;
      border-right: none;
      border-top: 2px solid rgba(235, 235, 235, 0.8);
      border-bottom: 2px solid rgba(235, 235, 235, 0.8);
    }

}

.group {
  background: #79E28A;
}

.customers {
  border-radius: 22px;
  background: #60DAFF;
}

.clients {
  border-radius: 22px;
  background: #F37168;
}