.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 6rem;
  width: 100%;

  &__title {
    margin: 3rem 0 3rem;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  &__examlpes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @include landscape-up {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-between;
    }

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 4rem;

      @include mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }

  &__btn {
    align-self: center;
    width: 242px;
    height: 53px;
    opacity: 0.85;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
    color: #FFFFFF;

    @include mobile {
      margin: 1rem 0;
    }
  }
}

.project {
  width: 29%;
  margin-top: 3rem;
  border-radius: 11px;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 22px rgba(95, 95, 95, 0.05));
  @include mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    width: 90%;
  }

  &__img {
    width: 100%;
    border-radius: 11px 12px 0 0;

    @include mobile {
      width: 100%;
    }
  }

  &__description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3F;

    
  }
}